<nav class="navbar navbar-expand-lg" style="background-color: #003974;" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Clientes
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item bi bi-plus" routerLink="/crearCliente"> Crear</a></li>
                        <li><a class="dropdown-item bi bi-tools" routerLink="/mantenerCliente"> Mantenimiento</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Coberturas
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item bi bi-plus" routerLink="/crearCobertura"> Crear</a></li>
                        <li><a class="dropdown-item bi bi-tools" routerLink="/mantenerCobertura"> Mantenimiento</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Polizas
                    </a>
                    <ul class="dropdown-menu"> 
                        <li><a class="dropdown-item bi bi-send-check" routerLink="/emitirPoliza"> Emisión</a></li>
                        <li><a class="dropdown-item bi bi-eye-fill" routerLink="/consultarPoliza"> Consulta</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" >Siniestros</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="/crearSiniestro">Crear</a></li>
                                <li><a class="dropdown-item" routerLink="/consultarSiniestro">Consultar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle">Facturas</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="/consultarFactura">Consultar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>