<p-toast></p-toast>
<div class="container">
    <h1><i class="pi pi-send" style="font-size: 2rem"></i> Emisión de póliza</h1>
    <hr>
    &nbsp;&nbsp;
    <div class="container d-flex align-items-center justify-content-between">
        <h2 class="mr-auto"><i class="bi bi-life-preserver" style="font-size: 2rem"></i> Coberturas</h2>
        <p-button icon="pi pi-check" (click)="showDialog()" title="Agregar Coberturas"></p-button>
    </div>
    <hr> 
    <p-dialog  [(visible)]="visible" [style]="{width: '90vw', height: '75vw' }" [maximizable]="true">
        <p-table [value]="coberturas" [paginator]="true" [rows]="sizePage" [lazy]="true" [totalRecords]="totalElements"
        [showCurrentPageReport]="true" (onPage)=onPageChange($event)
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[1,2,3,5, 10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Descripción</th>
                <th>Costo</th>
                <th>Suma Asegurada</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cobertura>
            <tr>
                <td>{{cobertura.descripcion}}</td>
                <td>{{cobertura.costo}}</td>
                <td>{{cobertura.sumaAsegurada}}</td>
                <td>{{cobertura.estado}}</td>
                <td>
                    <p-button icon="pi pi-plus" styleClass="p-button-raised p-button-text p-button-secondary"
                        (click)="crear(cobertura)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </p-dialog>
    &nbsp;&nbsp;
    <div class="container d-flex align-items-center justify-content-between">
        <h2 class="mr-auto"><i class="pi pi-file" style="font-size: 2rem"></i> Certificados</h2>
        <div class="d-flex">
            <p-button icon="pi pi-check" title="Agregar certificado" ></p-button>
            &nbsp;&nbsp;
            <p-button icon="pi pi-trash" title="Eliminar certificado" ></p-button>
        </div>
    </div>      
    <hr> 
</div>