<p-toast></p-toast>
<div class="container">
    <h1><i class="pi pi-eye" style="font-size: 2rem"></i> Consulta de siniestros</h1>
    <hr>
    <br>
    <div style="display:flex; align-items: center;">
        <input type="text" class="form-control" #inputElement (input)="evaluarValorInput($event)" required />
        &nbsp; &nbsp;
        <p-button label="Buscar" styleClass="p-button-primary" (click)="buscar()" class="text-center"
            [disabled]="disabled" icon="pi pi-search"></p-button>
    </div>
    <br>
    <div *ngIf="tabla" class="card">
        <p-table [value]="siniestros" [paginator]="true" [rows]="sizePage" [lazy]="true" [totalRecords]="totalElements"
            [showCurrentPageReport]="true" (onPage)=onPageChange($event)
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[1,2,3,5, 10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Fecha</th>
                    <th>Solución</th>
                    <th>Estado</th>
                    <th>Grabación usuario</th>
                    <th>Grabación fecha</th>
                    <th>Modificación usuario</th>
                    <th>Modificación fecha</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-siniestro>
                <tr>
                    <td>{{siniestro.fechaOcurrencia| date}}</td>
                    <td>{{siniestro.solucion}}</td>
                    <td>{{siniestro.estado}}</td>
                    <td>{{siniestro.grabacionUsuario}}</td>
                    <td>{{siniestro.grabacionFecha |date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{siniestro.modificacionUsuario}}</td>
                    <td>{{siniestro.modificacionFecha |date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>
                        <p-button icon="pi pi-pencil" styleClass="p-button-raised p-button-text p-button-secondary"
                            (click)="crear(siniestro)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div *ngIf="editar" class="card">
                    <span class="p-inputgroup-addon">
                        <label>Solución:</label>
                    </span>
                    &nbsp;
                    <div class="row justify-content-md-center">
                        <div class="col-8">
                            <textarea rows="3" cols="50" placeholder="Descripción" pInputTextarea [autoResize]="true"
                                [(ngModel)]="tempSiniestro.solucion"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-md-around">
                        <div class="col-md-auto">
                            <div class="card flex justify-content-center">
                                <button pButton pRipple label="Guardar" (click)="guardar()"
                                    class="p-button-success"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>