<app-navbar></app-navbar>
<br>
<div class="container">
  <br>
  <h1>Bienvenido</h1>
  <br>
</div>
<div class="container-fluid">
  <div class="row row-cols-2 row-cols-md-4 g-1">
    <div class="col">
      <div class="card border-primary">
        <div class="text-center">
          <img src="../../assets/img/Clientes.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <a routerLink="/crearCliente" class="btn btn-primary bi bi-plus">Crear</a>
            &nbsp;
            <a routerLink="/mantenerCliente" class="btn btn-primary bi bi-tools"> Mantenimiento</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <div class="text-center">
          <img src="../../assets/img/coberturas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Coberturas</h5>
            <a routerLink="/crearCobertura" class="btn btn-primary bi bi-plus">Crear</a>
            
            &nbsp;
            <a routerLink="/mantenerCobertura" class="btn btn-primary bi bi-tools"> Mantenimiento</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <div class="text-center">
          <img src="../../assets/img/poliza.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Polizas</h5>
            <a routerLink="/emitirPoliza" class="btn btn-primary bi bi-plus">Emisión</a>
            &nbsp;
            <a routerLink="/consultarPoliza" class="btn btn-primary bi bi-tools"> Mantenimiento</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <div class="text-center">
          <img src="../../assets/img/premium_photo-1661726836051-14182941b801.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Siniestros</h5>
            <a routerLink="/crearSiniestro" class="btn btn-primary bi bi-plus">Crear</a>
            &nbsp;
            <a routerLink="/consultarSiniestro" class="btn btn-primary bi bi-eye"> Consultar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>