<p-toast></p-toast>
<div class="container">
    <h1><i class="pi pi-wrench" style="font-size: 2rem"></i>  Mantener cobertura</h1>
    <hr>
    <br>
    <div style="display: flex; align-items: center;">
        <input type="text" class="form-control" #inputElement (input)="evaluarValorInput($event)" required />
        &nbsp; &nbsp;
        <p-button label="Buscar" styleClass="p-button" [loading]="loading" (click)="buscar()" class="text-center"
            [disabled]="disabled" icon="pi pi-search"></p-button>
    </div>
    <br>
    <div *ngIf="tabla" class="card">
        <p-table [value]="coberturas" [paginator]="true" [rows]="sizePage" [lazy]="true" [totalRecords]="totalElements"
            [showCurrentPageReport]="true" (onPage)=onPageChange($event)
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[1,2,3,5, 10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Descripción</th>
                    <th>Costo</th>
                    <th>Suma Asegurada</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cobertura>
                <tr>
                    <td>{{cobertura.descripcion}}</td>
                    <td>{{cobertura.costo}}</td>
                    <td>{{cobertura.sumaAsegurada}}</td>
                    <td>{{cobertura.estado}}</td>
                    <td>
                        <p-button icon="pi pi-pencil" styleClass="p-button-raised p-button-text p-button-secondary"
                            (click)="crear(cobertura)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div *ngIf="editar" class="card">
                    <span class="p-inputgroup-addon">
                        <label>Descripción:</label>
                    </span>
                    &nbsp;
                    <div class="row justify-content-md-center">
                        <div class="col-8">
                            <textarea rows="3" cols="50" placeholder="Descripción" pInputTextarea [autoResize]="true"
                                [(ngModel)]="tempCobertura.descripcion"></textarea>
                        </div>
                    </div>
                    &nbsp;
                    <span class="p-inputgroup-addon">
                        <label>Estado:</label>
                    </span>
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <label for="estado">Estado:</label>
                            &nbsp;
                            <p-dropdown [options]="opciones" [(ngModel)]="estado" (ngModelChange)="cambiarOpciones()"
                                optionLabel="estado" [ngModelOptions]="{ standalone: true }"></p-dropdown>
                        </div>
                    </div>
                    &nbsp;
                    <div class="row justify-content-md-around">
                        <div class="col-md-auto">
                            <div class="card flex justify-content-center">
                                <button pButton pRipple label="Guardar" (click)="guardar()"
                                    class="p-button-success"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>