<p-toast></p-toast>
<app-navbar></app-navbar>
<br>
<div class="container">
  <h1><i class="pi pi-folder-open" style="font-size: 2rem"></i>  Crear cobertura</h1>
  <hr>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form (ngSubmit)="guardar()" id="formulario">
        <div class="form-group">
          <label for="nombre">Descripción:</label>
          <input type="text" maxlength="12" class="form-control" [(ngModel)]="cobertura.descripcion"
            [ngModelOptions]="{ standalone: true }" required />
        </div>
        <div class="form-group">
          <label for="apellido">Costo:</label>
          <input type="number" class="form-control" [(ngModel)]="cobertura.costo"
            [ngModelOptions]="{ standalone: true }" required min="0" max="9999999" pattern="\d{1,7}" />

        </div>
        <div class="form-group">
          <label for="nit">Suma Asegurada:</label>
          <input type="number" class="form-control" [(ngModel)]="cobertura.sumaAsegurada"
            [ngModelOptions]="{ standalone: true }" required min="0" max="9999999" pattern="\d{1,7}" />

        </div>
        &nbsp;
        <div class="form-group">
          <label for="estado">Estado:</label>
          &nbsp;
          <p-dropdown [options]="opciones" [(ngModel)]="estado" optionLabel="estado"
            [ngModelOptions]="{ standalone: true }"></p-dropdown>
        </div>
        <br>
        <input type="submit" class="btn btn-success" value="Guardar">
      </form>
    </div>
  </div>
</div>