<div class="progress" *ngIf="cargar">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
        style="width: 100%"></div>
</div>
<div class="card">
    <p-table [value]="facturas" [paginator]="true" [rows]="sizePage" [lazy]="true" [totalRecords]="totalElements"
        [showCurrentPageReport]="true" (onPage)=onPageChange($event)
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[1,2,3,5, 10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Estado</th>
                <th>Grabación usuario</th>
                <th>Grabación fecha</th>
                <th>Modificación usuario</th>
                <th>Modificación fecha</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-factura>
            <tr>
                <td>{{factura.fecha | date}}</td>
                <td>Q{{factura.monto}}</td>
                <td>{{factura.estado}}</td>
                <td>{{factura.grabacionUsuario}}</td>
                <td>{{factura.grabacionFecha |date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{factura.modificacionUsuario}}</td>
                <td>{{factura.modificacionFecha |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>