<p-toast></p-toast>
<app-navbar></app-navbar>
<br>
<div class="container">
    <h1><i class="pi pi-wrench" style="font-size: 2rem"></i> Mantener cliente</h1>
    <hr>
    <br>
    <div style="display: flex; align-items: center;">
        <input type="text" class="form-control" #inputElement (input)="evaluarValorInput($event)" required />
        &nbsp; &nbsp;
        <p-button label="Buscar" styleClass="p-button-primary" (click)="buscar()" class="text-center"
            [disabled]="disabled" icon="pi pi-search"></p-button>
    </div>
    <br>
    <div *ngIf="tabla" class="card">
        <p-table [value]="clientes" [paginator]="true" [rows]="sizePage" [lazy]="true" [totalRecords]="totalElements"
            [showCurrentPageReport]="true" (onPage)=onPageChange($event)
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[1,2,3,5, 10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th id="nombre">Nombre</th>
                    <th id="apellido">Apellido</th>
                    <th id="nit">Nit</th>
                    <th id="dpi">Dpi</th>
                    <th id="estado">Estado</th>
                    <th id="th"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente>
                <tr>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.nit}}</td>
                    <td>{{cliente.dpi}}</td>
                    <td>
                        <span *ngIf="cliente.estado == 'A'">Activo</span>
                        <span *ngIf="cliente.estado == 'I'">Inactivo</span>
                    </td>
                    <td>
                        <p-button icon="pi pi-pencil" styleClass="p-button-raised p-button-text p-button-secondary"
                            (click)="editarCliente(cliente)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div *ngIf="editar" class="card">
                    <form (ngSubmit)="guardar()" id="formulario">
                        <span class="p-inputgroup-addon">
                            <label>Dirección:</label>
                        </span>
                        &nbsp;
                        <div class="row justify-content-start">
                            <div class="col-8">
                                <p-button pRipple label="Agregar dirección" (click)="agregarDireccion()"></p-button>
                            </div>
                        </div>
                        <div class="row" *ngFor="let direccion of tempCliente.direccionesList">
                            &nbsp;
                            <div class="row justify-content-md-center">
                                <div class="col-10">
                                    <div class="form-group">
                                        <label>Dirección:</label>
                                        <input type="text" class="form-control" [(ngModel)]="direccion.direccion"
                                            [ngModelOptions]="{standalone:true}" [disabled]="direccion.id" required>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-md-auto">
                                    <label for="estado">Estado:</label>
                                    &nbsp;
                                    <select class="form-select form-control-user2" [(ngModel)]="direccion.estado"
                                        name="tipoPeriodo">
                                        <option [ngValue]="objeto.estado" *ngFor="let objeto of opcionesd">
                                            {{objeto.estado}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <span class="p-inputgroup-addon">
                            <label>Estado:</label>
                        </span>
                        <br>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <label for="estado">Estado:</label>
                                &nbsp;
                                <p-dropdown [options]="opciones" [(ngModel)]="estado"
                                    (ngModelChange)="cambiarOpciones()" optionLabel="estado"
                                    [ngModelOptions]="{ standalone: true }"></p-dropdown>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-md-around">
                            <div class="col-6">
                                <input type="submit" class="btn btn-success" value="Guardar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>