<p-toast></p-toast>
<app-navbar></app-navbar>
<br>
<div class="container">
    <h1><i class="pi pi-eye" style="font-size: 2rem"></i> Consulta de pólizas</h1>
    <hr>
    <br>
    <div class="container" *ngIf="viewParametro">
        <div class="row row-cols-2 row-cols-lg-4 g-2">
            <div class="col">
                <div>
                    <span>Dpi</span>
                    <span>|</span>
                    <span>Nombre</span>
                    <span>|</span>
                    <span>Nit</span>
                    <span>|</span>
                    <span>Póliza</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="busqueda" [ngModelOptions]="{ standalone: true }"
                    #inputElement (input)="evaluarValorInput($event)" (keyup)="buscar($event)" />

            </div>
            <div class="col">
                <label class="text-center">Fecha de inicio</label>
                <input type="date" placeholder="Fecha de inicio" class="form-control" [(ngModel)]="fechaInicio"
                    [ngModelOptions]="{ standalone: true }" />
            </div>
            <div class="col">
                <label class="text-center">Fecha de fin</label>
                <input type="date" placeholder="Fecha fin" class="form-control" [(ngModel)]="fechaFin"
                    [ngModelOptions]="{ standalone: true }" />
            </div>

            <div class="col">
                <div class="p-3">

                    <button class="btn btn-danger btn-lg bi-eraser" (click)="cancelar()" type="button"></button>
                    &nbsp;&nbsp;
                    <button pButton styleClass="p-button-primary" (click)="buscar($event)" type="submit"
                        class="text-center" icon="pi pi-search"></button>

                </div>

            </div>
        </div>
    </div>
    <div *ngIf="tabla" class="card">
        <p-table [value]="seguros" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '10rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5,10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th id="tipo">Tipo</th>
                    <th id="fechaInicio">Fecha Inicio</th>
                    <th id="fechaFin">Fecha Fin</th>
                    <th id="estado">Estado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-seguro>
                <tr>
                    <td>{{seguro.tipo}}</td>
                    <td>{{seguro.fechaInicio | date}}</td>
                    <td>{{seguro.fechaFin | date}}</td>
                    <td> <span *ngIf="seguro.estado == 'A'">Activo</span>
                        <span *ngIf="seguro.estado == 'I'">Inactivo</span>
                    </td>
                    <td>
                        <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-warning p-button-outlined"
                            (click)="actualizar(seguro)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="tabla2" class="card">
        <p-treeTable [value]="seguroTemp" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th id="nombre">Nombre</th>
                    <th id="fechaInicio">Fecha Inicio</th>
                    <th id="fechaFin">Fecha Fin</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttRow]="rowNode">
                    <td>
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        {{ rowData.name }}
                    </td>
                    <td>{{ rowData.size }}</td>
                    <td>{{ rowData.type }}</td>
                </tr>
            </ng-template>
        </p-treeTable>
    </div>
</div>