<p-toast></p-toast>
<app-navbar></app-navbar>
<br>
<div class="container">
    <h1><i class="pi pi-eye" style="font-size: 2rem"></i> Consulta de pólizas</h1>
    <hr>
    <br>
    <div class="container" *ngIf="viewParametro">
        <div class="row row-cols-2 row-cols-lg-4 g-2">
            <div class="col">
                <div>
                    <span>Dpi</span>
                    <span>|</span>
                    <span>Nombre</span>
                    <span>|</span>
                    <span>Nit</span>
                    <span>|</span>
                    <span>Póliza</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="busqueda" [ngModelOptions]="{ standalone: true }"
                    #inputElement (input)="evaluarValorInput($event)" (keyup)="buscar($event)" />

            </div>
            <div class="col">
                <label class="text-center">Fecha de inicio</label>
                <input type="date" placeholder="Fecha de inicio" class="form-control" [(ngModel)]="fechaInicio"
                    [ngModelOptions]="{ standalone: true }" />
            </div>
            <div class="col">
                <label class="text-center">Fecha de fin</label>
                <input type="date" placeholder="Fecha fin" class="form-control" [(ngModel)]="fechaFin"
                    [ngModelOptions]="{ standalone: true }" />
            </div>

            <div class="col">
                <div class="p-3">

                    <button class="btn btn-danger btn-lg bi-eraser" (click)="cancelar()" type="button"></button>
                    &nbsp;&nbsp;
                    <button pButton styleClass="p-button-primary" (click)="buscar($event)" type="submit"
                        class="text-center" icon="pi pi-search"></button>

                </div>

            </div>
        </div>
    </div>
    <div *ngIf="tabla" class="card">
        <p-table [value]="seguros" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '10rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5,10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th id="tipo">Tipo</th>
                    <th id="fechaInicio">Fecha Inicio</th>
                    <th id="fechaFin">Fecha Fin</th>
                    <th id="estado">Estado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-seguro>
                <tr>
                    <td>{{seguro.tipo}}</td>
                    <td>{{seguro.fechaInicio | date}}</td>
                    <td>{{seguro.fechaFin | date}}</td>
                    <td> <span *ngIf="seguro.estado == 'A'">Activo</span>
                        <span *ngIf="seguro.estado == 'I'">Inactivo</span>
                    </td>
                    <td>
                        <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-warning p-button-outlined"
                            (click)="actualizar(seguro)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="tabla2">
        <br>
        <div class="container d-flex align-items-center justify-content-between">
            <h2 class="mr-auto">
                <i class="pi pi-file" style="font-size: 2rem"></i> Certificados
            </h2>
            <div class="d-flex">
                <p-button icon="pi pi-plus" title="Agregar certificado" (click)="agregarCertificado()"></p-button>
                &nbsp;&nbsp;
            </div>
        </div>
        <hr>
        <form (ngSubmit)="guardarCertificado()" id="formulario">
            <div class="row" *ngFor="let certificado of certificados.certificadoslist">
                &nbsp;
                <div class="row-md-12">
                    <div class="btn btn-danger" *ngIf="!certificado.id" (click)="
                        eliminarCertificado(certificado)">
                        <i class="pi pi-trash"></i>
                    </div>
                </div>
                &nbsp;
                <div class="row justify-content-md-center">
                    <div class="col-md-3">
                        <div class="form-group">
                            <br>
                            <label>Contratante:</label>
                            <div class="input-group">
                                <input type="text" class="form-control border-0"
                                    [(ngModel)]="certificado.nombreContratante"
                                    [value]="[certificado?.contratante?.nombre, certificado?.contratante?.apellido].join(' ')"
                                    [ngModelOptions]="{standalone:true}" [disabled]="certificado.id" required>
                                &nbsp;
                                <div class="input-group-append">
                                    <p-button icon="pi pi-search-plus" title="Agregar codigo contratante"
                                        (click)="agregarCodigoContratante(certificado, 1)"
                                        [disabled]="certificado.id"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <br>
                            <label>Asegurado:</label>
                            <div class="input-group">
                                <input type="text" class="form-control border-0"
                                    [(ngModel)]="certificado.nombreAsegurado"
                                    [value]="[certificado?.asegurado?.nombre, certificado?.asegurado?.apellido].join(' ')"
                                    [ngModelOptions]="{standalone:true}" [disabled]="certificado.id" required>
                                &nbsp;
                                <div class="input-group-append">
                                    <p-button icon="pi pi-search-plus" title="Agregar codigo asegurado"
                                        (click)="agregarCodigoContratante(certificado, 2)"
                                        [disabled]="certificado.id"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <br>
                            <label>Fecha Inicio:</label>
                            <input type="date" class="form-control" [(ngModel)]="certificado.fechaInicio"
                                [ngModelOptions]="{ standalone: true }" required>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <br>
                            <label>Fecha Fin:</label>
                            <input type="date" class="form-control" [(ngModel)]="certificado.fechaFin"
                                [ngModelOptions]="{ standalone: true }" required>
                        </div>
                    </div>
                </div>
                <p-dialog [(visible)]="visibleCodigoContratante" [style]="{width: '80vw', height: '60vw' }"
                    [maximizable]="true" [baseZIndex]="10000">
                    <p-table [value]="clientes" [paginator]="true" [rows]="sizePage" [lazy]="true"
                        [totalRecords]="totalElements" [showCurrentPageReport]="true"
                        (onPage)="onPageChangeClientes($event)"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[1,2,3,5,10,25,50]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th id="nombre">Nombre</th>
                                <th id="apellido">Apellido</th>
                                <th id="nit">Nit</th>
                                <th id="dpi">Dpi</th>
                                <th id="th"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-cliente>
                            <tr>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.apellido}}</td>
                                <td>{{cliente.nit}}</td>
                                <td>{{cliente.dpi}}</td>
                                <td>
                                    <p-button icon="pi pi-plus" styleClass="p-button-raised p-button-text"
                                        (click)="crearCodigoContratante(cliente)"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-dialog>
                <br />

                <hr />
                &nbsp;&nbsp;
            </div>
            <div class="row justify-content-between">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Contratante:</label>
                        <div class="input-group">
                            <input type="text" class="form-control border-0" disabled
                                [value]="[polizaSeleccionada.nombre]">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha inicio:</label>
                        <div class="input-group">
                            <input type="date" class="form-control border-0.5" [(ngModel)]="poliza.fechaInicio"
                                [ngModelOptions]="{ standalone: true }" required>
                            &nbsp;
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha fin:</label>
                        <div class="input-group">
                            <input type="date" class="form-control border-0.5" [(ngModel)]="poliza.fechaFin"
                                [ngModelOptions]="{ standalone: true }" required>
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tipo:</label>
                        <div class="input-group">
                            <input type="text" class="form-control border-0.5" [(ngModel)]="poliza.tipo"
                                [ngModelOptions]="{ standalone: true }" disabled required>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <hr class="invisible">
            <div class="row justify-content-start">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Prima</label>
                        <div class="input-group">
                            <input type="text" class="form-control border-0 bg-transparent"
                                [ngModel]="primaTotal | currency:'Q'" [ngModelOptions]="{standalone:true}" disabled
                                required>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Suma asegurada</label>
                        <div class="input-group">
                            <input type="text" class="form-control border-0 bg-transparent"
                                [ngModel]="sumaAsegurada | currency:'Q'" [ngModelOptions]="{standalone:true}" disabled
                                required>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="invisible">
            <div class="row justify-content-end">
                <div class="col-md-2">
                    <input type="submit" class="btn btn-success btn-lg rounded" value="Guardar">
                </div>
            </div>
            <br />
            <br />
        </form>



    </div>
</div>